/**
 * 菜单管理
 */
@import url(../../iconfont/iconfont.css);
@import url(../../inc/frame_main.css);
@import url(../../inc/frame_main_list.css);

.page{}
.page .data table .tr{}
.page .data table .tr .indent{ display: inline-block; width: 30px; height: 16px; vertical-align: middle}
.page .data table .tr .arrow{ display: inline-block; width: 20px; height: 20px; vertical-align: middle; text-align: center; line-height: 20px; font-size: 12px !important; margin-right: 5px; cursor: pointer;
transition: all 0.5s ease;
-ms-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
-webkit-transition: all 0.5s ease;
-o-transition: all 0.5s ease
}

.page .data table .tr.parent_close .arrow{
transform:rotate(-90deg);
-ms-transform:rotate(-90deg);
-moz-transform:rotate(-90deg);
-webkit-transform:rotate(-90deg);
-o-transform:rotate(-90deg);
}
.page .data table .tr.child_close{ display: none}