/**
 * sun ui
 */
html{ margin: 0px; padding: 0px}
body{ margin: 0px; padding: 0px; 
font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
font-size: 14px; color: #191919; line-height: 150%}
*,*:after,*:before{ box-sizing: border-box}

/*超级链接*/
a{ text-decoration: none; color: #326496}
a:hover{ text-decoration: underline; color: #5284b6}

/*表单元素*/
textarea{ font-size: 14px; color: #191919; line-height: 150%; padding: 3px 5px; border-left: 1px solid #cccccc; border-top: 1px solid #cccccc; border-right: 1px solid #bcbcbc; border-bottom: 1px solid #bcbcbc; appearance: none; border-radius: 3px; outline: none}
textarea:focus{ box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.25)}

input[type='text'],
input[type='number'],
input[type='password'],
input[type='phone'],
input[type='email'],
input[type='date'],
input[type='datetime']{ padding: 0px 5px; height: 30px; line-height: 30px; border-left: 1px solid #cccccc; border-top: 1px solid #cccccc; border-right: 1px solid #bcbcbc; border-bottom: 1px solid #bcbcbc; appearance: none; outline: none; border-radius: 3px}
input[type='number']{ padding-right: 0px}

input[type='text']:focus,
input[type='number']:focus,
input[type='password']:focus,
input[type='phone']:focus,
input[type='email']:focus,
input[type='date']:focus,
input[type='datetime']:focus{ box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.25)}

select{  padding: 0px 5px; height: 30px; line-height: 30px; border-left: 1px solid #cccccc; border-top: 1px solid #cccccc; border-right: 1px solid #bcbcbc; border-bottom: 1px solid #bcbcbc; outline: none; border-radius: 3px}
select:focus{ box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.25)}

input[type='submit'],
input[type='button'],
button{ font-size: 14px; outline: none}

/*表单布局*/
.sun_form{}
.sun_form .sun_form_item{ display: flex; margin-bottom: 10px}
.sun_form .sun_form_item:last-child{ margin-right: 0px}
.sun_form .sun_form_item .sun_form_label{ flex: 4; text-align: right; margin-right: 20px}
.sun_form .sun_form_item .sun_form_label .sun_form_required{ font-weight: bold; color: #ff0000}
.sun_form .sun_form_item .sun_form_content{ flex: 8}
.sun_form .sun_form_tip{ font-size: 12px; color: #919191}

/*表单输入框组*/
.sun_input_group{ position: relative; display: flex}
.sun_input_group input{  z-index: 1; position: relative}
.sun_input_group input:focus{ z-index: 3}
.sun_input_group .sun_input_group_icon_left{ margin-right: -2px; background: #e9ecef; border: 1px solid #cccccc; padding: 0px 8px; border-radius: 3px 0px 0px 3px; line-height: 25px; position: relative; z-index: 2}
.sun_input_group .sun_input_group_icon_right{ margin-left: -2px; background: #e9ecef; border: 1px solid #cccccc; padding: 0px 8px; border-radius: 0px 3px 3px 0px; line-height: 25px; position: relative; z-index: 2}

/*间距*/
.sun_mt5{ margin-top: 5px}
.sun_mt10{ margin-top: 10px}
.sun_mt20{ margin-top: 20px}
.sun_ml5{ margin-left: 5px}
.sun_ml10{ margin-left: 10px}
.sun_ml20{ margin-left: 20px}
.sun_mr5{ margin-right: 5px}
.sun_mr10{ margin-right: 10px}
.sun_mr20{ margin-right: 20px}
.sun_mb5{ margin-bottom: 5px}
.sun_mb10{ margin-bottom: 10px}
.sun_mb20{ margin-bottom: 20px}

/*按钮*/
.sun_button{ appearance:none; background-color: #326496; border: none; outline: none; color:#ffffff; border-radius: 3px; cursor: pointer; display:inline-block; padding: 0px 14px; line-height: 30px; height: 30px; font-size: 14px; white-space: nowrap;
transition: all 0.5s ease;
-ms-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
-webkit-transition: all 0.5s ease;
-o-transition: all 0.5s ease;
}
.sun_button:hover{ background: #5284b6; text-decoration: none; color: #ffffff}
.sun_button:active{ background: #5284b6}
.sun_button[disabled] { background: #aaaaaa; color: #919191}
.sun_button .icon{ font-size: 12px; vertical-align: middle}

.sun_button_primary{}
.sun_button_secondary{ background: #f5f7f9; color: #191919; border: 1px solid #cccccc}
.sun_button_secondary:hover{ background: #e5e7e9; color: #191919; border-color: #acacac}
.sun_button_warning{ background: #FF5722}
.sun_button_warning:hover{ background: #FF7742}

.sun_button_small{ height: 22px; line-height: 22px; padding: 0px 5px; font-size: 12px}
.sun_button_small .icon{ font-size: 10px; vertical-align: middle}
.sun_button_big{ height: 40px; line-height: 40px; padding: 0px 18px}
.sun_button_big .icon{ vertical-align: middle}

.sun_button_block{ display: block; width: 100%}

/*toast*/
.sun_toast{ display: flex; align-items: center; background: #ffffff; max-width: 300px; border: 1px solid #eeeeee; box-shadow:0px 0px 5px #888888; border-radius: 3px; padding: 15px; position: absolute; left: 0px; top: 0px; z-index: 1090}
.sun_toast .icon{ font-size: 36px; line-height: 100%; display: inline-block}
.sun_toast .info{ flex: auto; margin-left: 10px; word-break:break-all}

.sun_toast.success{ color: #008800; border-color: #eeeeee}
.sun_toast.error{ color: #ff6600; border-color: #eeeeee}
.sun_toast.prompt{ color: #2d64b3; border-color: #eeeeee}

/*加载中*/
.sun_loading_bg { background: rgba(0,0,0,0.3); position: fixed; left: 0px; top: 0px; z-index: 1020; width: 100%; height: 100%}
.sun_loading { background-color: #4C5A65; position: fixed; left: 50%; top: 50%; z-index: 1021; padding: 20px; width: 120px; margin-left: -80px; margin-top: -40px; border-radius: 3px}
.sun_loading .img{ width:16px; height:11px; background-image: url(loading.gif); background-repeat: no-repeat; background-position: center; margin:0px auto 0px auto}
.sun_loading .info{ text-align:center; color:#ffffff}

/*表格*/
.sun_table{ border-collapse: collapse}
.sun_table tr th{ padding: 5px; word-break: break-all; background: #EFF3F8; text-align: left; border-bottom: 1px solid #cccccc}
.sun_table tr td{ border-bottom: 1px solid #cccccc; padding: 5px; word-break: break-all}
.sun_table_striped tr:nth-child(even){ background: #f5f5f5}
.sun_table_hover tr:hover{ background: #EFF3F8}
.sun_table_keyvalue .key{ color: #2d64b3; background-color: #F4F6F8}

/*分页完整*/
.sun_pagination_intact{}
.sun_pagination_intact:after{ content: ""; clear: both; display: block}
.sun_pagination_intact .left{ float: left}
.sun_pagination_intact .left .count{ display: inline-block}
.sun_pagination_intact .left .count span{ color: #326496; margin: 0px 3px}
.sun_pagination_intact .left .record_range{ margin-left: 20px; display: inline-block}
.sun_pagination_intact .left .record_range span{ color: #326496; margin: 0px 3px}

.sun_pagination_intact .right{ float: right}
.sun_pagination_intact .right:after{ content: ""; clear: both; display: block}
.sun_pagination_intact .right .limit{ float: left; margin-left: 20px}
.sun_pagination_intact .right .limit select{ height: 22px}

.sun_pagination_intact .right .skip{ float: left; margin-left: 20px}
.sun_pagination_intact .right .skip .number{ width: 30px; height: 22px; text-align: center}

.sun_pagination_intact .right .link{ float: left; margin-left: 20px}
.sun_pagination_intact .right .link a{ float: left; border:1px solid #cccccc; display: block; padding: 0px 8px; background-color:#ffffff; color: #191919; margin-left: 3px; border-radius: 3px}
.sun_pagination_intact .right .link a:hover{ background:#f5f5f5; text-decoration: none}
.sun_pagination_intact .right .link span{ float: left; border:1px solid #cccccc; display:block; padding: 0px 10px; background-color:#ffffff; color: #919191; margin-left: 3px; border-radius: 3px}

.sun_pagination_intact .right .link .disabled{ cursor: not-allowed; color:#aaaaaa}
.sun_pagination_intact .right .link .disabled:hover{ background: #ffffff}
.sun_pagination_intact .right .link .active{ color:#ffffff; background:#326496; border: 1px solid #326496}
.sun_pagination_intact .right .link .active:hover{ background:#326496; cursor:default}

/*下拉菜单*/
.sun_dropdown{ display: inline-block; position: relative}
.sun_dropdown .sun_dropdown_menu{ position: absolute; top: 100%; left: 0px; width: 120px; background: #ffffff; margin: 5px 0px 0px 0px; padding: 5px 0px; border-radius: 3px; box-shadow: 0 3px 6px rgba(0,0,0,0.3); display: none; z-index: 99}
.sun_dropdown .sun_dropdown_menu li{ list-style: none}
.sun_dropdown .sun_dropdown_menu li a{ display: block; color: #191919; padding: 0px 10px}
.sun_dropdown .sun_dropdown_menu li a:hover{text-decoration: none; background: #f5f5f5}

/*徽章*/
.sun_badge{ display: inline-block; padding: 3px 5px; line-height: 100%; font-size: 75%; white-space: nowrap; vertical-align: baseline; border-radius: 2px; color: #ffffff}
.sun_badge:hover{ text-decoration: none}
.sun_badge_orange{ background: #FFB800}
.sun_badge_green{ background: #009688}
.sun_badge_cyan{ background: #008888}
.sun_badge_blue{ background: #1E9FFF}
.sun_badge_black{ background: #393D49}
.sun_badge_gray{ background: #FAFAFA; color: #666666}

/*选卡*/
.sun_tab{}
.sun_tab .sun_tab_title{ white-space: nowrap; border-bottom: 1px solid #eeeeee; height: 40px; line-height: 40px}
.sun_tab .sun_tab_title a{ display: inline-block; position: relative; padding: 0px 14px; min-width: 65px; text-align: center; cursor: pointer; color: #191919}
.sun_tab .sun_tab_title a:hover{ text-decoration: none}
.sun_tab .sun_tab_title .active{ height: 40px; background: #ffffff; border-radius: 3px 3px 0px 0px; border: 1px solid #eeeeee; border-bottom: none}
.sun_tab .sun_tab_content{}

/*弹层*/
.sun_layer{}
.sun_layer > .bg{ background: rgba(0,0,0,0.3); position: fixed; left: 0px; top: 0px; z-index: 1000; width: 100%; height: 100%}
.sun_layer > .layer{ background-color: #ffffff; position: fixed; left: 0px; top:-50px; z-index: 1000; box-shadow:0px 0px 10px #919191; border-radius: 3px; overflow: hidden}
.sun_layer > .layer > .title{ height: 50px; line-height: 50px; overflow: hidden; cursor: move; border-bottom: 1px solid #cccccc; padding: 0px 10px}
.sun_layer > .layer > .title .name{ float: left}
.sun_layer > .layer > .title .close{ float: right; display: block; width: 30px; height: 30px; line-height: 30px; text-align: center; margin-top: 10px; font-size: 20px; font-weight: bold; color: #191919}
.sun_layer > .layer > .title .close:hover{ text-decoration: none; color: #393939}
.sun_layer > .layer > iframe{ margin: 0px; padding: 0px; background-color: #ffffff}
.sun_layer > .layer > .loading{ background-image: url(image/loading.gif); background-repeat: no-repeat; background-size: 30px 30px; background-position: 50% 0px; text-align: center; position: absolute; left: 0px; top: 40%; z-index: 2; width: 100%; padding-top: 35px}

/*微章*/
.sun_badge{ background: #ff6600; color: #ffffff; border-radius: 2px; display: inline-block; padding: 0px 5px; font-size: 12px; text-align: center; position: relative; height: 18px; line-height: 18px}
.sun_badge_green{ background: #009688}
.sun_badge_cyan{ background: #2f4056}
.sun_badge_blue{ background: #1e9fff}
.sun_badge_black{ background: #191919}
.sun_badge_gray{ background: #fafafa; color: #666666}