/**
 * sun toast提示
 * @version 1.0.0
 */

.sun_toast{ display: flex; align-items: center; background: #ffffff; max-width: 300px; border: 1px solid #eeeeee; box-shadow:0px 0px 5px #888888; border-radius: 3px; padding: 15px; position: absolute; left: 0px; top: 0px; z-index: 1090}
.sun_toast .icon{ font-size: 36px; line-height: 100%; display: inline-block}
.sun_toast .info{ flex: auto; margin-left: 10px}

.sun_toast.success{ color: #008800; border-color: #008800}
.sun_toast.error{ color: #ff6600; border-color: #ff6600}
.sun_toast.prompt{ color: #2d64b3; border-color: #2d64b3}