/**
 * 页面框架主要
 */
.page{ overflow: hidden}
.page > .page_header{ background: #326496; color: #ffffff; height: 50px; line-height: 50px}
.page > .page_header:after{ content: ""; clear: both; zoom: 1; display: block}
.page > .page_header a{ color: #ffffff}
.page > .page_header > .name{ display: block; width: 200px; text-align: center; float: left; font-size: 20px}
.page > .page_header > .switch{ float: left; width: 40px; text-align: center}
.page > .page_header > .switch .icon{ line-height: 100%; display: inline-block; cursor: pointer;
transition: all 0.5s ease;
-ms-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
-webkit-transition: all 0.5s ease;
-o-transition: all 0.5s ease
}
.page > .page_header > .switch .icon:hover{ color: #dfdfdf}

.page > .page_header > .link{ float: right}
.page > .page_header > .link > ul{ margin: 0px; padding: 0px}
.page > .page_header > .link > ul:after{ content: ""; clear: both}
.page > .page_header > .link > ul > li{ list-style: none; float: left}
.page > .page_header > .link > ul > li > a{ display: block; padding: 0px 20px}
.page > .page_header > .link > ul > li > a:hover{ background: rgba(0,0,0,0.2); text-decoration: none}
.page > .page_header > .link > ul > li > a .icon{ font-size: 14px; margin-right: 2px}
.page > .page_header > .link > ul > .user{ position: relative}
.page > .page_header > .link > ul > .user .title{}
.page > .page_header > .link > ul > .user .title img{ width: 30px; border-radius: 50%; vertical-align: middle; border: 0px}
.page > .page_header > .link > ul > .user .content{ position: absolute; right: 0px; top: 50px; width: 130px; box-shadow: 0px 0px 3px #919191; line-height: 35px; z-index: 99; display: none; background: #ffffff; border-radius: 0px 0px 3px 3px}
.page > .page_header > .link > ul > .user .content > ul{ margin: 0px; padding: 5px; text-align: center}
.page > .page_header > .link > ul > .user .content > ul > li{ list-style: none}
.page > .page_header > .link > ul > .user .content > ul > li a{ color: #191919; display: block; border-radius: 3px}
.page > .page_header > .link > ul > .user .content > ul > li a:hover{ background: #e1e5e9; text-decoration: none}

.page > .page_body{ position: absolute; left: 0px; top: 50px; right: 0px; bottom: 0px}
.page > .page_body > .page_left{ position: absolute; left: 0px; bottom: 0px; top: 0px; width: 200px; background: #323c46; color: rgba(255,255,255,0.8); overflow-y: auto}
.page > .page_body > .page_left a{ color: rgba(255,255,255,0.8)}

/*菜单*/
.page > .page_body > .page_left .menu{}
.page > .page_body > .page_left .menu ul{ margin: 0px; padding: 0px}
.page > .page_body > .page_left .menu ul li{ list-style: none}
.page > .page_body > .page_left .menu ul li > a{ display: block; height: 40px; line-height: 40px; padding:0px 10px 0px 20px; overflow: hidden}
.page > .page_body > .page_left .menu ul li > a:hover{ background: rgba(0,0,0,0.2); color: #ffffff; text-decoration: none}
.page > .page_body > .page_left .menu ul li > a .icon{ display: inline-block; width: 25px}
.page > .page_body > .page_left .menu ul li > a .arrow{ float: right; font-size: 12px;
transition: all 0.5s ease;
-ms-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
-webkit-transition: all 0.5s ease;
-o-transition: all 0.5s ease
}
.page > .page_body > .page_left .menu ul li > ul{ display: none}

.page > .page_body > .page_left .menu ul > li > ul > li > a{ padding-left: 45px}
.page > .page_body > .page_left .menu ul > li > ul > li > ul > li > a{ padding-left: 70px}
.page > .page_body > .page_left .menu ul > li > ul > li > ul > li > ul > li > a{ padding-left: 95px}

.page > .page_body > .page_left .menu ul li.open{ background: #222c36}
.page > .page_body > .page_left .menu ul li.open > a{ color: #ffffff}
.page > .page_body > .page_left .menu ul li.open > a .arrow{
transform:rotate(-90deg);
-ms-transform:rotate(-90deg);
-moz-transform:rotate(-90deg);
-webkit-transform:rotate(-90deg);
-o-transform:rotate(-90deg);
}
.page > .page_body > .page_left .menu ul li.active > a{ background: rgba(0,0,0,0.2); color: #ffffff; font-weight: bold}
.page > .page_body > .page_right{ position: absolute; left: 200px; right: 0px; top: 0px; bottom: 0px; overflow-y: auto; background: #F1F2Fa}

.page.close > .page_header .switch{
transform:rotate(-180deg);
-ms-transform:rotate(-180deg);
-moz-transform:rotate(-180deg);
-webkit-transform:rotate(-180deg);
-o-transform:rotate(-180deg);
}
.page.close > .page_body > .page_left{ width: 0px}
.page.close > .page_body > .page_right{ left: 0px}

/*手机*/
@media ( max-width : 768px) {
    .page > .page_body{ overflow-x: auto}
	.page > .page_body > .page_right{ right: inherit; min-width: 1080px}
}