/**
 * 页面框架列表
 */

.page{}
.page > .page_body > .page_right > .header{ height: 40px; background: #ffffff; border-bottom: 1px solid #cccccc; line-height: 40px; box-shadow: 0px 0px 5px #cccccc; padding: 0px 10px}
.page > .page_body > .page_right > .header:after{ content: ""; clear: both}
.page > .page_body > .page_right > .header .location{ float: left}
.page > .page_body > .page_right > .header .location .split{ color: #919191}
.page > .page_body > .page_right > .header .location a{}
.page > .page_body > .page_right > .header .refresh{ float: right; display: inline-block; padding: 0px 5px; color: #919191}
.page > .page_body > .page_right > .header .refresh .icon{ margin-right: 2px}
.page > .page_body > .page_right > .header .refresh:hover{ color: #717171; text-decoration: none}

.page > .page_body > .page_right .body{ padding: 10px}

.page > .page_body > .page_right .body > .search{ background: #ffffff; border-radius: 5px; padding: 10px}
.page > .page_body > .page_right .body > .search:after{ content: ""; clear: both; display: block}
.page > .page_body > .page_right .body > .search form > ul{ margin: 0px; padding: 0px}
.page > .page_body > .page_right .body > .search form > ul > li{ margin: 5px 15px 5px 0px; list-style: none; float: left}
.page > .page_body > .page_right .body > .search form > ul > li input[type=text]{ width: 150px}
.page > .page_body > .page_right .body > .search form > ul > li select{ width: 150px}

.page > .page_body > .page_right .body > .data{ background: #ffffff; border-radius: 5px; padding: 10px}
.page > .page_body > .page_right .body > .data .toolbar{ display: flex; justify-content: space-between}
.page > .page_body > .page_right .body > .data .toolbar > .left{}
.page > .page_body > .page_right .body > .data .toolbar > .right{}
.page > .page_body > .page_right .body > .data .table{ margin-top: 10px}
.page > .page_body > .page_right .body > .data .sun-pagination-intact{ margin-top: 10px}
