@font-face {
  font-family: "iconfont"; /* Project id 3296852 */
  src: url('iconfont.woff2?t=1654910897236') format('woff2'),
       url('iconfont.woff?t=1654910897236') format('woff'),
       url('iconfont.ttf?t=1654910897236') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-switch_right:before {
  content: "\e622";
}

.icon-switch_left:before {
  content: "\e60f";
}

.icon-arrow-right:before {
  content: "\e63e";
}

.icon-sjx_right:before {
  content: "\e60e";
}

.icon-arrow-down:before {
  content: "\e602";
}

.icon-refresh:before {
  content: "\e65e";
}

.icon-arrow-left:before {
  content: "\e64f";
}

.icon-setup:before {
  content: "\e689";
}

.icon-auth:before {
  content: "\e657";
}

.icon-collection:before {
  content: "\e670";
}

.icon-help:before {
  content: "\e629";
}

.icon-user:before {
  content: "\e6cb";
}

.icon-home:before {
  content: "\e62b";
}

.icon-success:before {
  content: "\e6bc";
}

.icon-error:before {
  content: "\e615";
}

.icon-prompt:before {
  content: "\e60a";
}

.icon-edit:before {
  content: "\e60c";
}

.icon-delete:before {
  content: "\e671";
}

.icon-magnifier:before {
  content: "\e62d";
}

.icon-replay:before {
  content: "\e66f";
}

.icon-exit:before {
  content: "\e625";
}

.icon-file:before {
  content: "\e64d";
}

.icon-camera:before {
  content: "\e60b";
}

.icon-and:before {
  content: "\e605";
}

.icon-password:before {
  content: "\e62a";
}

.icon-up:before {
  content: "\e60d";
}

.icon-push:before {
  content: "\e67f";
}

