/**
 * 应用公共css
 */
html{ margin: 0px; padding: 0px}
body{ margin: 0px; padding: 0px; 
font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
font-size: 14px; color: #191919; line-height: 150%}
pre{ font-size: 14px; color: #191919; line-height: 150%; white-space: pre-wrap; word-wrap: break-word; margin: 0px; padding: 0px}
*,*:after,*:before{ box-sizing:border-box}

/*超级链接*/
a{ text-decoration: none; color: #326496}
a:hover{ text-decoration: underline; color: #5284b6}

.iconfont{ font-size: 14px}