/**
 * 弹层表单带按钮
 */
html{ height: 100%}
body{ height: 100%}
.page{ overflow: hidden; height: 100%}
.page form{ height: 100%; display: flex; flex-direction: column}
.page form .page_body{ flex: auto; padding: 10px; overflow-y: auto}
.page form .page_button{ border-top: 1px solid #cccccc; height: 50px; line-height: 50px; padding: 0px 10px; text-align: right}
.page form .page_button .sun_button{ margin-left: 5px}
