/**
 * sun ui
 */
html{ margin: 0px; padding: 0px}
body{ margin: 0px; padding: 0px; 
font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
font-size: 14px; color: #191919; line-height: 150%}
pre{ font-size: 14px; color: #191919; line-height: 150%; white-space: pre-wrap; word-wrap: break-word; margin: 0px; padding: 0px}
*,*:after,*:before{ box-sizing:border-box}

/*超级链接*/
a{ text-decoration: none; color: #326496}
a:hover{ text-decoration: underline; color: #5284b6}

/*表单元素*/
textarea{ font-size: 14px; color: #191919; line-height: 150%; padding: 5px; border-left: 1px solid #cccccc; border-top: 1px solid #cccccc; border-right: 1px solid #bcbcbc; border-bottom: 1px solid #bcbcbc; appearance: none; border-radius: 3px; outline: none}
textarea:focus{ box-shadow: 0px 0px 4px rgba(0,0,0,0.4)}

input[type='text'],
input[type='number'],
input[type='password'],
input[type='phone'],
input[type='email'],
input[type='date'],
input[type='datetime']{ padding: 0px 3px; height: 30px; line-height: 30px; border-left: 1px solid #cccccc; border-top: 1px solid #cccccc; border-right: 1px solid #bcbcbc; border-bottom: 1px solid #bcbcbc; appearance: none; outline: none; border-radius: 3px}

select{  padding: 0px 5px 0px 5px; height: 30px; line-height: 30px; border-left: 1px solid #cccccc; border-top: 1px solid #cccccc; border-right: 1px solid #bcbcbc; border-bottom: 1px solid #bcbcbc; outline: none; border-radius: 3px}

input[type='submit'],
input[type='button'],
button{ font-size: 14px; outline: none}

/*间距*/
.sun_mt5{ margin-top: 5px}
.sun_mt10{ margin-top: 10px}
.sun_mt20{ margin-top: 20px}
.sun_ml5{ margin-left: 5px}
.sun_ml10{ margin-left: 10px}
.sun_ml20{ margin-left: 20px}
.sun_mr5{ margin-right: 5px}
.sun_mr10{ margin-right: 10px}
.sun_mr20{ margin-right: 20px}
.sun_mb5{ margin-bottom: 5px}
.sun_mb10{ margin-bottom: 10px}
.sun_mb20{ margin-bottom: 20px}

/*按钮*/
.sun_button{ appearance:none; background-color: #326496; border: none; outline: none; color:#ffffff; border-radius: 3px; cursor: pointer; display:inline-block; padding: 0px 14px; line-height: 30px; height: 30px; font-size: 14px; white-space: nowrap;
transition: all 0.5s ease;
-ms-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
-webkit-transition: all 0.5s ease;
-o-transition: all 0.5s ease;
}
.sun_button:hover{ background: #5284b6; text-decoration: none; color: #ffffff}
.sun_button:active{ background: #5284b6}
.sun_button[disabled] { background: #aaaaaa; color: #919191}
.sun_button .icon{ font-size: 12px; vertical-align: middle}

.sun_button_primary{}
.sun_button_secondary{ background: #f5f7f9; color: #191919; border: 1px solid #cccccc}
.sun_button_secondary:hover{ background: #e5e7e9; color: #191919; border-color: #acacac}
.sun_button_warning{ background: #FF5722}
.sun_button_warning:hover{ background: #FF7742}

.sun_button_sm{ height: 22px; line-height: 22px; padding: 0px 5px; font-size: 12px}
.sun_button_sm .icon{ font-size: 10px; vertical-align: middle}
.sun_button_big{ height: 40px; line-height: 40px; padding: 0px 18px}
.sun_button_big .icon{ vertical-align: middle}

.sun_button_block{ display: block; width: 100%}

/*toast*/
.sun_toast{ display: flex; align-items: center; background: #ffffff; max-width: 300px; border: 1px solid #eeeeee; box-shadow:0px 0px 5px #888888; border-radius: 3px; padding: 15px; position: absolute; left: 0px; top: 0px; z-index: 1090}
.sun_toast .icon{ font-size: 36px; line-height: 100%; display: inline-block}
.sun_toast .info{ flex: auto; margin-left: 10px; word-break:break-all}

.sun_toast.success{ color: #008800; border-color: #eeeeee}
.sun_toast.error{ color: #ff6600; border-color: #eeeeee}
.sun_toast.prompt{ color: #2d64b3; border-color: #eeeeee}

/*加载中*/
.sun_loading_bg { background: rgba(0,0,0,0.3); position: fixed; left: 0px; top: 0px; z-index: 1020; width: 100%; height: 100%}
.sun_loading { background-color: #4C5A65; position: fixed; left: 50%; top: 50%; z-index: 1021; padding: 20px; width: 120px; margin-left: -80px; margin-top: -40px; border-radius: 3px}
.sun_loading .img{ width:16px; height:11px; background-image: url(loading.gif); background-repeat: no-repeat; background-position: center; margin:0px auto 0px auto}
.sun_loading .info{ text-align:center; color:#ffffff}

/*表格*/
.sun_table{ border-collapse: collapse}
.sun_table thead tr th{ padding: 5px; word-break: break-all; background: #EFF3F8; text-align: left; border-bottom: 1px solid #cccccc}
.sun_table tr td{ border-bottom: 1px solid #cccccc; padding: 5px; word-break: break-all}
.sun_table_striped tr:nth-child(even){ background: #f5f5f5}
.sun_table_hover tr:hover{ background: #EFF3F8}
.sun_table_keyvalue .key{ color: #2d64b3; background-color: #F4F6F8}

/*分页完整*/
.sun_pagination{ line-height: 28px; display: flex; align-items: center}
.sun_pagination .count{ flex: auto}
.sun_pagination .count span{}

.sun_pagination .limit{ display: inline-block; vertical-align: middle}
.sun_pagination .limit select{ height: 22px}

.sun_pagination .skip{ display: inline-block; margin-left: 10px; vertical-align: middle}
.sun_pagination .skip .number{ width: 30px; height: 22px; text-align: center}

.sun_pagination .link{ display: inline-block; margin-left: 10px; vertical-align: middle}
.sun_pagination .link a{ float:left; border:1px solid #cccccc; display:block; padding: 0px 10px; background-color:#ffffff; color: #191919; margin-right: -1px}
.sun_pagination .link a:hover{ background:#f5f5f5; text-decoration: none}
.sun_pagination .link a.disabled{ cursor: not-allowed; color:#aaaaaa}
.sun_pagination .link a.disabled:hover{ background: #ffffff}
.sun_pagination .link a.active{ color:#ffffff; background:#326496; border: 1px solid #326496}
.sun_pagination .link a.active:hover{ background:#326496; cursor:default}

/*表单*/
.sun_form{}
.sun_form .sun_form_item{ display: flex; align-items: center; margin-bottom: 10px}
.sun_form .sun_form_item:last-child{ margin-right: 0px}
.sun_form .sun_form_item .sun_form_label{ flex: 4; text-align: right; margin-right: 20px}
.sun_form .sun_form_item .sun_form_label .sun_form_required{ font-weight: bold; color: #ff0000}
.sun_form .sun_form_item .sun_form_content{ flex: 8}

/*下拉菜单*/
.sun_dropdown{ display: inline-block; position: relative}
.sun_dropdown .sun_dropdown_menu{ position: absolute; top: 100%; left: 0px; width: 120px; background: #ffffff; margin: 5px 0px 0px 0px; padding: 5px 0px; border-radius: 3px; box-shadow: 0 3px 6px rgba(0,0,0,0.3); display: none; z-index: 99}
.sun_dropdown .sun_dropdown_menu li{ list-style: none}
.sun_dropdown .sun_dropdown_menu li a{ display: block; color: #191919; padding: 0px 10px}
.sun_dropdown .sun_dropdown_menu li a:hover{text-decoration: none; background: #f5f5f5}
