/**
 * sun ui
 */
html{ margin: 0px; padding: 0px}
body{ margin: 0px; padding: 0px; font-family: Arial,"微软雅黑"; font-size: 14px; color: #191919; line-height: 175%}
pre{ font-family: Arial,"微软雅黑"; font-size: 14px; color: #191919; line-height: 175%; white-space: pre-wrap; word-wrap: break-word; margin: 0px; padding: 0px}
*,*:after,*:before{ box-sizing:border-box}

/*超级链接*/
a{ text-decoration: none; color: #326496}
a:hover{ text-decoration: underline; color: #5284b6}

/*表单元素*/
textarea{ font-family: Arial,"微软雅黑"; font-size: 14px; color: #191919; line-height: 175%; padding: 5px}
input[type='text'],
input[type='number']{ font-size: 14px; padding: 5px; line-height: 175%}
input[type='submit'],
input[type='button'],
button{ font-size: 14px; line-height: 175%}
select{ padding: 5px; line-height: 175%}

/*按钮*/
.sun_button{ background-color: #326496; border:none; outline:none; color:#ffffff !important; border-radius: 3px; cursor: pointer; display:inline-block; padding:0px 10px; line-height:175%; overflow:visible; font-size:14px; white-space: nowrap;
transition: all 0.5s ease;
-ms-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
-webkit-transition: all 0.5s ease;
-o-transition: all 0.5s ease;
}
.sun_button:hover{ background: #5284b6; text-decoration:none; color:#ffffff !important}
.sun_button:active{ background: #5284b6}
.sun_button[disabled] { background: #aaaaaa; color: #888888}

.sun_button_block{ display: block; width: 100%; height: 40px; line-height: 40px}

/*toast*/
.sun_toast{ display: flex; align-items: center; background: #ffffff; max-width: 300px; border: 1px solid #eeeeee; box-shadow:0px 0px 5px #888888; border-radius: 3px; padding: 15px; position: absolute; left: 0px; top: 0px; z-index: 1090}
.sun_toast .icon{ font-size: 36px; line-height: 100%; display: inline-block}
.sun_toast .info{ flex: auto; margin-left: 10px; word-break:break-all}

.sun_toast.success{ color: #008800; border-color: #eeeeee}
.sun_toast.error{ color: #ff6600; border-color: #eeeeee}
.sun_toast.prompt{ color: #2d64b3; border-color: #eeeeee}

/*加载中*/
.sun_loading_bg { background: rgba(0,0,0,0.3); position: fixed; left: 0px; top: 0px; z-index: 1020; width: 100%; height: 100%}
.sun_loading { background-color: #4C5A65; position: fixed; left: 50%; top: 50%; z-index: 1021; padding: 20px; width: 120px; margin-left: -80px; margin-top: -40px; border-radius: 3px}
.sun_loading .img{ width:16px; height:11px; background-image: url(loading.gif); background-repeat: no-repeat; background-position: center; margin:0px auto 0px auto}
.sun_loading .info{ text-align:center; color:#ffffff}